# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VirtualEnv
venv

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Cython debug symbols
cython_debug/

# PyCharm
.idea/

# Mac general
.DS_Store
.AppleDouble
.LSOverride

# Ruff
.ruff_cache

# MyApp temp ignore
temp/